.specialities {
	&__inner {
		@include flexbox();
		@include flex-wrap(wrap);
		max-width: 500px;
		padding: 10px;
		background-color: $gray-light;
		border: 1px solid $gray-lighter;
		border-radius: 10px;
		.item {
			margin: 10px;
			width: calc((100% - 60px)/ 3);
			label {
				position: relative;
				display: block;
				padding: 20px 16px;
				font-size: 16px;
				line-height: 20px;
				font-weight: bold;
				color: $white;
				background-color: #ccc;
				border: 1px solid #B2B2B2;
				border-radius: 5px;
				cursor: pointer;
				transition: .15s ease;
				&:hover {
					background-color: darken(#ccc, 10%);
				}
				&:after {
					content: '';
					position: absolute;
					top: 20px;
					right: 16px;
					width: 20px;
					height: 20px;
					border-radius: 5px;
					border: 1px solid $white;
				}
				&:before {
					content: '';
					position: absolute;
					top: 24px;
					right: 20px;
					width: 12px;
					height: 12px;
					border-radius: 3px;
					background-color: $white;
					transform: scale(0);
					transition: .15s ease;
				}
			}
			input {
				display: none;
				&:checked ~ label {
					background-color: $primary;
					border-color: $primary;
					&:before {
						transform: scale(1);
					}
				}
			}
		}
	}
}