.header {
	position: relative;
	background: $white;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
	&__back {
		position: relative;
		width: 32px;
		height: 32px;
		&:after {
			content: '';
			position: absolute;
			left: 11px;
			top: 13px;
			width: 10px;
			height: 2px;
			background-color: $gray-dark;
			transform: rotate(-45deg);
		}
		&:before {
			content: '';
			position: absolute;
			left: 11px;
			top: 19px;
			width: 10px;
			height: 2px;
			background-color: $gray-dark;
			transform: rotate(45deg);
		}
	}
	&__inner {
		padding: 30px 0;
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
	}
	&__filters {
		position: relative;
		@include flexbox();
		padding: 20px 0;
		border-top: 1px solid $gray-lighter;
		.item {
			width: 20%;
			&:first-child {
				width: 37%;
			}
			&:not(:last-child) {
				margin-right: 20px;
				margin-bottom: 0;
			}
			input {
				text-align: left;
				&:focus {
					margin-top: 0;
					&~label {
						display: none;
					}
				}
			}
			label {
				top: 19px;
				font-size: 12px;
			}
			&.has-value {
				input {
					margin-top: 0;
				}
				label {
					display: none;
				}
			}
		}
		.filters {
			display: none;
			height: 24px;
			width: 24px;
		}
		.select {
			select {
				font-size: 12px;
				font-weight: bold;
			}
			&:after, &:before {
				top: 25px;
			}
		}
		.btn--search {
			display: none;
		}
	}
	&__menu {
		display: none;
		padding: 8px 0;
		cursor: pointer;
		div {
			margin: 0 auto;
			width: 24px;
			height: 2px;
			background-color: $gray;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
		//&:hover {
		//	div {
		//		&:first-child {
		//			position: relative;
		//			left: -2px;
		//		}
		//		&:nth-child(2) {
		//			position: relative;
		//			right: -2px;
		//		}
		//		&:nth-child(3) {
		//			position: relative;
		//			left: -2px;
		//		}
		//	}
		//}
	}
	&__add {
		display: none;
		cursor: pointer;
	}
	&__nav {
		@include flexbox();
		.item {
			font-size: 14px;
			font-weight: bold;
			&:not(:last-child) {
				margin-right: 70px;
			}
			&.active {
				color: $primary;
			}
		}
	}
	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		padding: 30px;
		background-color: rgba(38, 38, 38, .95);
		transition: .2s ease;
		transform: translateX(-100%);
		&__close {
			position: absolute;
			top: 30px;
			left: 30px;
			width: 32px;
			height: 32px;
			&:after {
				content: '';
				position: absolute;
				top: 8px;
				left: 15px;
				width: 2px;
				height: 16px;
				transform: rotate(-45deg);
				background-color: $white;
			}
			&:before {
				content: '';
				position: absolute;
				top: 8px;
				left: 15px;
				width: 2px;
				height: 16px;
				transform: rotate(45deg);
				background-color: $white;
			}
		}
		&__logo {
			margin: 0 0 30px;
			padding: 0 0 30px;
			text-align: center;
			border-bottom: 1px solid rgba(255, 255, 255, .2);
		}
		&__nav {
			.item {
				text-align: center;
				a {
					font-size: 16px;
					color: rgba(255, 255, 255, .4);
					&.active {
						color: $white;
					}
				}
				&:not(:last-child) {
					margin: 0 0 40px;
				}
			}
		}
		&--active {
			transform: translateX(0);
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		padding: 0 10px;
		&__logo {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		&__nav {
			display: none;
		}
		&__menu, &__add {
			display: block;
			width: 32px;
			height: 32px;
		}
		&__filters {
			display: block;
			padding: 20px 0 30px;
			.item {
				width: 100%;
				&:first-child {
					width: 100%;
				}
				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
			.search, .location, .distance  {
				display: none;
				&.visible {
					display: block;
				}
			}
			.btn--search {
				position: absolute;
				width: 44px;
				right: 10px;
				top: 30px;
				display: block;
			}
			.filters {
				position: absolute;
				width: 24px;
				top: 32px;
				right: 64px;
				display: block;
				margin: 0;
			}
		}
	}
}