.header {
	background: $white;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
	&__inner {
		padding: 30px 0;
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
	}
	&__filters {
		@include flexbox();
		padding: 20px 0;
		border-top: 1px solid $gray-lighter;
		.item {
			width: 20%;
			&:first-child {
				width: 37%;
			}
			&:not(:last-child) {
				margin-right: 20px;
				margin-bottom: 0;
			}
			input {
				text-align: left;
				&:focus {
					margin-top: 0;
					&~label {
						display: none;
					}
				}
			}
			&.has-value {
				input {
					margin-top: 0;
				}
				label {
					display: none;
				}
			}
		}
		.select {
			&:after, &:before {
				top: 25px;
			}
		}
	}
	&__menu {
		display: none;
		padding: 8px 0;
		cursor: pointer;
		div {
			margin: 0 auto;
			width: 24px;
			height: 2px;
			background-color: $gray;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
		//&:hover {
		//	div {
		//		&:first-child {
		//			position: relative;
		//			left: -2px;
		//		}
		//		&:nth-child(2) {
		//			position: relative;
		//			right: -2px;
		//		}
		//		&:nth-child(3) {
		//			position: relative;
		//			left: -2px;
		//		}
		//	}
		//}
	}
	&__add {
		display: none;
		cursor: pointer;
	}
	&__nav {
		@include flexbox();
		.item {
			font-size: 14px;
			font-weight: bold;
			&:not(:last-child) {
				margin-right: 70px;
			}
			&.active {
				color: $primary;
			}
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		&__nav {
			display: none;
		}
		&__menu, &__add {
			display: block;
			width: 32px;
			height: 32px;
		}
	}
}